{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": false,
        "assignment": false
      }
    ],
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}